# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/

# Gradle
.gradle/
.gradletasknamecache
local.properties

# Build
build/

# Generated Avro files
/src/avroSources/java/

# Generated compile files
/out/
backend.log
