# Create release files
name: Release

on:
  release:
    types: [published]

jobs:
  upload:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.8.0
      - name: Check version
        run: |
          projectVersion=$(./gradlew properties | grep '^version:.*$')
          pluginVersion=$(./gradlew :radar-commons-gradle:properties | grep '^version:.*$')
          if [ "$projectVersion" != "$pluginVersion" ]; then
            echo "Project version $projectVersion does not match plugin version $pluginVersion"
            exit 1
          fi

      # Compile code
      - name: Compile code
        run: ./gradlew assemble collectLicenses

      # Upload it to GitHub
      - name: Upload to GitHub
        uses: AButler/upload-release-assets@v2.0.2
        with:
          files: 'radar-commons*/build/libs/*;radar-commons*/build/reports/*.tar.gz'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install gpg secret key
        run: |
          cat <(echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - name: Publish
        env:
          OSSRH_USER: ${{ secrets.OSSRH_USER }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: ./gradlew -Psigning.gnupg.keyName=CBEF2CF0 -Psigning.gnupg.executable=gpg -Psigning.gnupg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} publish closeAndReleaseSonatypeStagingRepository

      - name: Publish gradle plugin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :radar-commons-gradle:publish
